<a href="https://colab.research.google.com/github/alvas-education-foundation/prashanth_course/blob/master/Day_1_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Program to print the triangle :
i/p 4

1

2 3

3 4 5

4 5 6 7

In [1]:
n=4
for i in range(n+1):
    for j in range(i):
        print (j+i ,end=" ")
    print('')

1
2 3
3 4 5
4 5 6 7

2.TO print the Star Pattern for n=4

In [2]:
n=4;
for i in range(n):
    for j in range(i+1):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *

3. Backward Numbers n = 5

5

4 5

3 4 5

2 3 4 5

1 2 3 4 5

In [6]:
n=5
for i in range(n+1):
    for j in range(i,0,-1 ):
        print (n-j+1 ,end=" ")
    print('')

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5


4. Enter number 5

In [7]:
n=5;
for i in range(n,0,-1):
    for j in range(i):
        print('{0} '.format(i-j), end="")
    print('')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
5.Enter number 4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [8]:
n=int(input("Enter the Number:"));
for i in range(0,n+1,1):
    print("")
    for j in range(i+1,n+1,1):
        print(j,end=" ")
    
for i in range(1,n):
    for j in range(i+1,0,-1):
        print(n-j+1,end=" ")
    print('')

Enter the Number:4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [ ]:
6.Find the length of a string without using len functions

In [9]:
str = input("Enter a string: ")

# counter variable to count the character in a string
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: Python program
Length of the input string is: 14

7.Find the no of words and characters in a string

In [10]:
string=input('Enter the string')
char=0
word=1
for i in string:
    char=char+1
    if(i==' '):
        word=word+1
print('Number of word in the string')
print(word)
print('Number of character in the string')
print(char)

Enter the stringwords and characters
Number of word in the string
3
Number of character in the string
20

8 .Find the no of occurrences of a word in a string

In [14]:
string = "I am from india . I am student."
word = "am"
## splitting the string at space
words = string.split()
## initializing count variable to 0
count = 0
## iterating over the list
for w in words:
   ## checking the match of the words
   if w == word:
      ## incrementint count on match
      count += 1
## printing the count
print("The count is:", count)

The count is: 2