<a href="https://colab.research.google.com/github/alvas-education-foundation/prashanth_course/blob/master/Day_2_session_2_Exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.
import operator
a=int(input('Enter the no of student '))
b={}
for i in range (1,a+1):
	name=input('Enter the name %d '%(i))
	marks=int(input('Enter the marks %d '%(i)))
	b[name]=marks
	sorted_b=sorted(b.items(),key=operator.itemgetter(1))
	sorted_b.reverse()
print(sorted_b)

Enter the no of student 3
Enter the name 1 kd
Enter the marks 1 56
Enter the name 2 er
Enter the marks 2 98
Enter the name 3 dg
Enter the marks 3 89
[('er', 98), ('dg', 89), ('kd', 56)]

In [ ]:
#2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary
import operator
a=int(input('Enter the no of employe '))
b={}
for i in range (1,a+1):
	name=input('Enter the name %d '%(i))
	salary=int(input('Enter the salary %d '%(i)))
	b[name]=salary
	sorted_b=sorted(b.items(),key=operator.itemgetter(0))
	#sorted_b.reverse()
print(sorted_b)

Enter the no of employe 3
Enter the name 1 kp
Enter the salary 1 90
Enter the name 2 gh
Enter the salary 2 66
Enter the name 3 gl
Enter the salary 3 908
[('gh', 66), ('gl', 908), ('kp', 90)]

In [ ]:
#3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order andsum, max, min and average of the salaries
import operator
n=int(input("enter the no of employee : "))
d={}
for i in range(n):
	name=input("enter the name of the employee : ")
	salary=int(input("enter the salary of the employee : "))
	d[name]=salary
print(d)
a=sorted(d.items(),key=operator.itemgetter(0))
print(a)
print("sum of salary : ",sum(d.values()))
print ("max salary is : ",max(d.values()))
print ("min salary is : ",min(d.values()))
print ("avg of salary is : ",(sum(d.values()))//n)

enter the no of employee : 3
enter the name of the employee : tdf
enter the salary of the employee : 25000
enter the name of the employee : kl
enter the salary of the employee : 20000
enter the name of the employee : vk
enter the salary of the employee : 30000
{'tdf': 25000, 'kl': 20000, 'vk': 30000}
[('kl', 20000), ('tdf', 25000), ('vk', 30000)]
sum of salary :  75000
max salary is :  30000
min salary is :  20000
avg of salary is :  25000

In [ ]:
#4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000
a=int(input('Enter the no of employe '))
b={}
for i in range (1,a+1):
	name=input('Enter the name %d '%(i))
	salary=int(input('Enter the salary %d '%(i)))
	b[name]=salary
print(b)
	#sorted_b=sorted(b.items(),key=operator.itemgetter(0))
d={x:y for (x,y)in b.items()if ((y>=2000) & (y<=4000))}
print(d)

Enter the no of employe 3
Enter the name 1 fs
Enter the salary 1 1000
Enter the name 2 ssf
Enter the salary 2 2500
Enter the name 3 ssss
Enter the salary 3 3999
{'fs': 1000, 'ssf': 2500, 'ssss': 3999}
{'ssf': 2500, 'ssss': 3999}

In [ ]:
#5.	Python program to convert a 3 digit number  into words

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',\
  100:'hundred',200:'two hundred',300:'three hundred',400:'four hundred',\
  500:'five hundred',600:'sic hundred',700:'seven hundred',\
  800:'eight hundred',900:'nine hundred'}

num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
  	print(d[num])
if(num>20 and num<100):
    	if num%10==0:  	 
        	print(d[num])
    	else:
        	print(d[num//10*10]+" "+d[num%10])
if(num>99 and num<1000):
    	if num%100==0:  	 
        	print(d[num])
    	else:
        	print(d[num//100*100]+" "+"and"+" "+d[num%100//10*10]+" "+d[num%10])

Enter the integer between 1 to 999:560
five hundred and sixty

Files Exercises

In [ ]:
#1.Python Program to count the total number of charaters (except blank space) in a text file
from google.colab import drive
drive.mount('/content/drive')
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 charc += 1
 
print ("total num of characters: ",charc);

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
Enter File name : /content/drive/My Drive/doc.txt
total num of characters:  161

In [17]:
#2.Python Program to print all the numbers present in a text file with its total number of occurrence.
file = '/content/drive/My Drive/one.txt'
d = {}
with open(file,'r') as f:
  for line in f:
    for word in line:
      if word.isdigit():
        if word in d.keys():
          d[word] += 1
        else:
          d[word] = 1
print("No's with total no of occurances: ",d)

No's with total no of occurances:  {'3': 4, '1': 4, '0': 1, '6': 1}

In [18]:
#3.Python Program to append the contents of one file to another file 
file1 = '/content/drive/My Drive/sample1.txt'
file2 = '/content/drive/My Drive/one.txt'
d = {}
with open(file1,'r') as f1:
  with open(file2,'a') as f2:
    for line in f1:
      f2.write(line)

In [19]:
#4.Python Program to count the number of blank spaces in a text file.
file = '/content/drive/My Drive/one.txt'
count = 0
with open(file,'r') as f:
  for line in f:
    count += len(line.split())-1
print(count)

55

In [20]:
#5.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .
file1 = '/content/drive/My Drive/doc.txt'
file2 = '/content/drive/My Drive/capital_1.txt'
count = 0
with open(file1,'r') as f1:
  with open(file2,'w') as f2:
    for line in f1:
      f2.write(line.title())

with open(file2,'r') as f:
  for line in f:
    print(line)

India, Officially The Republic Of India, Is A Country In South Asia. It Is The Second-Most Populous Country, The Seventh-Largest Country By Area, And The Most Populous Democracy In The World.